version: "3.9"
services:
  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"

  
  api:
    build: .
    container_name: teamtask-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

